.calendarTable {
    width: 100%;
    border-collapse: collapse; /* Ensures there are no gaps between borders */
    margin: 20px auto;
    /* font-family: 'EB Garamond'; */
    table-layout: fixed; /* Columns of equal width */
}

.headerCell {
    background-color: transparent; /* No background color */
    font-weight: normal;
    font-size: xx-large;
    padding-right: 0.5%; /* Remove default padding */
    border-top: none; /* Remove top border */
    border-left: none; /* Remove left border */
    border-right: 0.5px solid black; /* Remove right border */
    border-bottom: 0.5px solid #000; /* 0.5px bottom border */
    text-align: right; /* Right-justify the text */
}

.dayCell {
    padding: 1px; /* Only 1px padding inside day cells */
    border: 0.5px solid #000; /* 0.5px border for all sides */
    text-align: right; /* Right-justify the text */
    /* background-color: #fff; White background */
    position: relative; /* Positioning context for month name */
    height: 120px; /* Fixed height to ensure enough space for month names */
    vertical-align: top; /* Align text to the top */
}

.firstDayOfMonth {
    background: linear-gradient(to right, rgb(209, 223, 252), white); /* Apply gradient */
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-style: double;
}

.firstDayOfMonth + td, .firstDayOfMonth + td + td, .firstDayOfMonth + td + td + td, .firstDayOfMonth + td + td + td + td, .firstDayOfMonth + td + td + td + td + td, .firstDayOfMonth + td + td + td + td + td + td {
    border-top: 1px solid blue;
    border-style: double;
}

.firstWeekOfMonth {
    border-style: double;
    border-top: 1px solid blue;
}

/* .firstDayOfMonth::before, .firstDayOfMonth::after {
    content: "";
    position: absolute;
    background-color: blue;
}

.firstDayOfMonth::before {
    top: -1px;
    left: 0;
    right: 0;
    width: 2px;
}

.firstDayOfMonth::after {
    top: 0px;
    left: -1;
    width: 1px;
    height: 100%;
} */

.firstDayOfYear {
    background:
        linear-gradient(to right, rgb(49, 138, 255), white) 0% 0% / 80% 23% no-repeat, /* Blue to white gradient strip along the top edge */
        linear-gradient(to right, rgb(209, 223, 252), white); /* regular new month gradient */
}

.firstDayOfNepaliMonth {
    background: linear-gradient(to right, rgb(252, 209, 209), white); /* Apply gradient */
    border-top: 1px solid rgb(255, 150, 150);
    border-left: 1px solid rgb(255, 150, 150);
    border-style: double;
}

.firstWeekOfNepaliMonth {
    border-style: double;
    border-top: 1px solid rgb(255, 150, 150);
}

.firstDayOfNepaliYear {
    background:
        linear-gradient(to right, red, white) 0% 0% / 80% 23% no-repeat, /* Red to white gradient strip along the top edge */
        linear-gradient(to right, rgb(252, 209, 209), white); /* regular Nepali new month gradient */
}

.dayNumber {
    font-size: 16px;
    color: #333;
    padding-right: 1.5%;
    /* position: absolute; *//* Positioning the day number */
    top: 5px; /* Closer to the top */
    right: 5px; /* Right-justified within the cell */
}

.event {
    /* font-family: 'EB Garamond'; */
    font-size: normal;
    /*display: inline-block; /* Makes div behave more like span */
    /* margin-left: 12%; */
    /* margin-right: 2%; */
}

.circled {
    border-radius: 15px; /* Making border radius */
    border-width: 1px;
    border-color: #b9f8d0;
    background-color: #b9f8d0;
    width: auto; /* Auto-sizable width */
    height: auto; /* Auto-sizable height */
    padding: 1px 4px; /* Space around letters */
    border-style: solid;
}

.highlighted {
    background-color: #FFFF00;
}

.important {
    font-weight: bold;
}

.monthName {
    position: absolute;
    font-size: larger;
    padding: 8px 0px 4px 0px;
    /* margin-left: -5%; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 0;
}

.nepaliMonthName {
    position: absolute;
    font-size: auto;
    padding: 8px 0px 4px 0px;
    /* margin-left: -5%; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 0;
}

.yearNumber {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: larger;
    font-weight: normal;
    color: #000;
    z-index: 20; /* Ensure year number is above other content */
}

.nepaliYearNumber {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: larger;
    font-weight: normal;
    color: #000;
    z-index: 20; /* Ensure year number is above other content */
}

.displayBothMonths {
    position: absolute;
    top: -20px; /* Adjust based on the desired overlap */
    left: 10px; /* Adjust position within the cell */
    background-color: #ffffff; /* Same as table background color */
    border: 0.5px solid #333; /* Border around the inset box */
    padding: 1px 3px 2px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow for better visibility */
    z-index: 1; /* Ensure the box overlays the table border */
}

.react-beautiful-dnd-drag-handle {
    cursor: move;
}

.react-beautiful-dnd-dragging {
    opacity: 0.8;
}

